.articles {
  width: 1440px;
  margin: 0 auto;
  padding: 120px 0px;
  color: #333;
  background: #ccc;
}

.articles .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles__header {
  margin-top: 4px;
  font-size: 48px;
  line-height: 72px;
  font-weight: 300;
}

.articles__subheader {
  margin-top: 18px;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
}

.articles__carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1020px;
  margin-top: 120px;
}

.articles__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 360px;
}

.articles__card-img {
  position: absolute;
  top: 0;
  z-index: 0;
}

.articles__animal {
  margin-bottom: 9px;
  font-size: 22px;
  font-weight: 300;
  line-height: 36px;
  color: #f7f7f7;
  z-index: 1;
}

.articles__descr {
  margin-bottom: 41px;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  color: #f7f7f7;
  z-index: 1;
}

.articles__arrow-left {
  position: absolute;
  top: 50%;
  left: -75px;
  width: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.articles__arrow-left > img {
  width: 100%;
  -webkit-transition: .1s;
  transition: .1s;
}

.articles__arrow-left > img:hover {
  cursor: pointer;
}

.articles__arrow-left > img:active {
  -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
}

.articles__arrow-right {
  position: absolute;
  top: 50%;
  right: -105px;
  width: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.articles__arrow-right > img {
  width: 100%;
  -webkit-transition: .1s;
  transition: .1s;
}

.articles__arrow-right > img:hover {
  cursor: pointer;
}

.articles__arrow-right > img:active {
  -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
}

.articles__header-email {
  margin-top: 240px;
  font-size: 27px;
  font-weight: normal;
  line-height: 40px;
}

.articles__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 58px;
  margin-bottom: 120px;
}

.articles__email > input[type="email"] {
  width: 542px;
  height: 61px;
  padding: 0 15px;
  border: 1px solid #666;
  border-radius: 3px;
  background: none;
  font-size: 23px;
  line-height: 61px;
  color: #666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=articles.css.map */