.footer {
  width: 1440px;
  height: 360px;
  margin: 0 auto;
  padding: 150px 120px 0px 120px;
  background: no-repeat center url("../assets/Footer.jpg");
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f7f7f7;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 239px;
}

.footer__wildlife {
  margin-left: 15px;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
}

.footer__icon {
  width: 68px;
  height: 58px;
}

.footer__icon > img {
  width: 100%;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 480px;
  padding: 0;
  list-style: none;
}

.footer__menu > li {
  margin: 0px 44px;
}

.footer__menu > li:first-child {
  margin-left: 0px;
}

.footer__menu > li:last-child {
  margin-right: 0px;
}

.footer__menu > li > a {
  font-size: 23px;
  line-height: 60px;
  text-decoration: none;
  color: #f7f7f7;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  padding: 0;
  list-style: none;
}

.footer__social > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  z-index: 1;
  border-radius: 100%;
}

.footer__social > li:hover {
  background: #CD6326;
}

.footer__social > li:first-child {
  background: no-repeat center url("../assets/facebook.svg") #f7f7f7;
}

.footer__social > li:first-child:hover {
  background: no-repeat center url("../assets/facebook.svg") #CD6326;
}

.footer__social > li:nth-child(2) {
  background: no-repeat center url("../assets/instagram.svg") #f7f7f7;
}

.footer__social > li:nth-child(2):hover {
  background: no-repeat center url("../assets/instagram.svg") #CD6326;
}

.footer__social > li:nth-child(3) {
  background: no-repeat center url("../assets/pinterest.svg") #f7f7f7;
}

.footer__social > li:nth-child(3):hover {
  background: no-repeat center url("../assets/pinterest.svg") #CD6326;
}

.footer__social > li:last-child {
  background: no-repeat center url("../assets/telegram.svg") #f7f7f7;
}

.footer__social > li:last-child:hover {
  background: no-repeat center url("../assets/telegram.svg") #CD6326;
}

.footer__social > li > a {
  width: 100%;
  border: none;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}
/*# sourceMappingURL=footer.css.map */