@keyframes border-rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes anti-border-rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-360deg); } }

@keyframes heart-rotate {
  from {
    transform: rotate3d(0, 1, 0, 0deg); }
  to {
    transform: rotate3d(0, 1, 0, 360deg); } }
