.footer {
  width: 100%;
  margin-top: 101px;
  padding: 58px 58px;
  background-color: #196469;
  z-index: 2; }
  .footer .container {
    display: flex;
    justify-content: space-between; }
  .footer__logo {
    width: 108px;
    height: 84px;
    margin-right: 24px; }
  .footer__list {
    display: flex;
    align-items: center;
    padding: 0;
    height: 100%;
    list-style: none; }
    .footer__list-item {
      margin-left: 52px; }
    .footer__list-link {
      display: block;
      font-family: Roboto Mono;
      color: #c5e1e6;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.3s; }
      .footer__list-link:hover {
        transform: scale(1.15); }
  .footer__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: Roboto;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF; }
    .footer__descr > p:first-child {
      margin-bottom: 10px; }
