.hero {
  position: relative;
  height: 795px;
  z-index: -1;
  background: url("../../../assets/img/hero/hero-bg.png") center no-repeat; }
  .hero__bg {
    position: absolute;
    width: 100%;
    max-width: 100%;
    z-index: -1; }
  .hero .container {
    display: flex;
    padding: 48px 0px;
    height: 100%; }
  .hero__offer {
    width: 43%;
    margin-top: 55px;
    margin-right: 50px;
    padding-left: 0px; }
  .hero__header {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 3.8vw;
    line-height: 4.2vw;
    color: #f3f7f8; }
    .hero__header > span {
      font-weight: 500;
      font-size: 2.8vw; }
  .hero__descr {
    max-width: 463px;
    width: 100%;
    margin-top: 23px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    color: #f3f7f8; }
  .hero__container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54%;
    height: 100%;
    max-height: 660px;
    -webkit-mask: url('../../../assets/img/hero/panda-form.svg') no-repeat;
    mask: url('../../../assets/img/hero/panda-form.svg') no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    overflow: hidden;
    }
    .hero__container-img > img {
      width: 125%; }
  .hero__container-btn {
    position: absolute;
    top: 50%;
    right: 25%;
    width: 5.5%;
    height: 5%;
    transform: translate(-50%, -50%);
    cursor: pointer; }
    .hero__container-btn > img {
      width: 100%;
      transition: 0.3s; }
      .hero__container-btn > img:hover {
        transform: scale(1.1); }
      .hero__container-btn > img:active {
        transform: scale(0.8); }
  .hero__btn-menu > button {
    margin-top: 87px;
    width: 100%;
    max-width: 258px;
    height: 52px;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
    text-transform: uppercase;
    font-family: Roboto Mono;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05em;
    color: #0d444d;
    transition: 0.3s;
    outline: none;
    cursor: pointer; }
    .hero__btn-menu > button:hover {
      background: #C5E1E6;
      border-color: #C5E1E6;
      box-shadow: 0px 2px 50px #c5e1e6; }
  .hero__btn-donate {
    display: none;
    background: #C5E1E6; }
  .hero__btn-watch {
    background: #ffffff; }
